.profile-image{
    max-width: 200px;
    max-height: 200px;
    border: 2px solid rgb(110, 160, 155);
    border-radius: 50%;
}
h1{
    margin: 20px;
}
.table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.table tr td{
    padding: 10px 10px;
    border: 2px solid #eee;
}
.buttons{
  
    margin: 20px;
}