<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
            <mat-card>
            <div class="container ">
                <img class="imgsize" src="../../../assets/Sign-Up.png" alt="Sign-Up.png">
            </div>
           
                
                <h1 class="text-center" > !! Register Here !! </h1>    
                 <form (ngSubmit)="formSubmit()" >
                
                    <!-- User Name -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input 
                        required="accent"
                        [(ngModel)]="user.userName"
                        type="text" name="userName" matInput placeholder="Enter Here">
                        <mat-hint>!!! Username must be unique !!!</mat-hint>
                    </mat-form-field>
                    <!-- Password -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Password</mat-label>
                        <input required="accent" [(ngModel)]="user.password" name="password" type="password" matInput placeholder="Enter Here">
                    </mat-form-field>

                    <!-- First NAme -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input required="accent" type="text" [(ngModel)]="user.firstName" matInput name="firstName" placeholder="Enter Here">
                    </mat-form-field>

                    <!-- Last Name -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input required="accent" [(ngModel)]="user.lastName" name="lastName" type="text" matInput placeholder="Enter Here">
                    </mat-form-field>

                    <!-- Email -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input required="accent" [(ngModel)]="user.email" name="email" type="email" matInput placeholder="Enter Here">
                    </mat-form-field>

                    <!-- Phone -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input required="accent" [(ngModel)]="user.phone" name="phone" type="number" matInput placeholder="Enter Here">
                    </mat-form-field>

                    <div class="container text-center mb10">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                       <button class="button-left" mat-raised-button color="accent">Reset</button>
                    </div>

                 </form> 
               
            </mat-card>
            </div>
            
        </div>
   
    </div>
</div>
