<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="container">
                <img class="imgsize" src="../../../assets/Sign-Up.png" alt="Sign-Up.png">
            </div>
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center" > !! Register Here !! </h1>

              

                  
                  
                
                     
               

            </div>
            
        </div>
   
    </div>
</div>
