
<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item (click)="navigateHome()" ><span class="menu-item">
<mat-icon mat-list-icon>home </mat-icon> Home</span>
        </button>
        <button mat-list-item  (click)="navigateProfile()">
            <span class="menu-item">
                  <mat-icon mat-list-icon>account_circle</mat-icon>Profile</span>
        </button>
        <button mat-list-item  (click)="navigateCategory()">
            <span class="menu-item">
                  <mat-icon mat-list-icon>list</mat-icon>Categories</span>
        </button>
        <button mat-list-item  (click)="navigateAddCategory()">
            <span class="menu-item">
                  <mat-icon mat-list-icon>add_circle_outline</mat-icon>Add-Category</span>
        </button>

        <button mat-list-item  (click)="navigateProfile()">
            <span class="menu-item">
                  <mat-icon mat-list-icon>quiz</mat-icon>Quizes</span>
        </button>
        <button mat-list-item  (click)="navigateProfile()">
            <span class="menu-item">
                  <mat-icon mat-list-icon>add</mat-icon>Add-Quiz</span>
        </button>
        <button mat-list-item  (click)="logout()">
            <span class="menu-item">
                  <mat-icon mat-list-icon>logout</mat-icon>Logout</span>
        </button>
    </mat-action-list>
</mat-card>